<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="5875138e-8729-47a1-adf2-e0db41cc1cd0" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="5875138e-8729-47a1-adf2-e0db41cc1cd0fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
